#body {
    text-align: center;
}

.title {
    font-style: bold;
    font-size: 64px;
    margin-bottom: -16px;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 8px;
    margin-right: 10px;
}

button {
    color: white;
    background: black;
    padding: 16px;
}

button:hover {
    color:white;
    background:blueviolet;
}